.header-section {
  .app-name {
    font-size: 3em;
    margin: 30px auto;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.overview {
  padding: 20px;
  font-size: 0.8em;
}

.user-instructions {
  color: #f8ca52;
}
