.TeamPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;

  .team-name-section {
    grid-column: span 3;
    justify-self: start;
    padding-top: 2em;
    padding-left: 2em;
    // align-self: center;
  }

  .team-name {
    font-size: 4rem;
    margin-bottom: 10px;
  }

  .win-loss-section {
    justify-self: center;
    padding: 2em;
    text-align: center;
    max-height: 15em;
  }

  .match-detail-section {
    grid-column: span 4;
  }

  .more-link {
    color: darkslategray;
    font-weight: 700;
    align-self: center;
    justify-self: center;
    font-size: 2rem;
  }

  .summary-text {
    color: rgb(36, 60, 60);
  }
}
