.TeamTile {
  height: 170px;
  text-align: center;
  border: 1px solid white;
  padding: 20px;

  h2 {
    padding-top: 1em;
  }

  a:hover {
    color: whitesmoke;
  }
}

.TeamTileWinner {
  background-color: green;
}

.TeamTileLoser {
  background-color: #d22b2b;
}
